nav{
    text-align:left}

nav ul{
    list-style:none;
    margin-left:0;
    padding-left:0;
    margin-top:20;
    margin-bottom:0;
    padding-bottom:0}
    
nav ul li{
    display:inline-block;
    margin-left:0.5em;
    padding-right:20px;}
    
    nav ul li a{
        color: #4CAF50;
        text-decoration:none}
    

body {
    font-family: 'Courier New', monospace;
    color: #4CAF50;
    background-color:black;
      }


.container{
    width:90%;
    max-width:1000px;
    margin:0 auto}
    
section{
    display:block;
    margin:0 0 20px 0}

h1,h2,h3,h4,h5,h6{
    margin:0 0 20px}

li{
    line-height:1.4}

header{
    background:rgba(0,0,0,0.1);
    width:100%;
    border-bottom:1px dashed #b5e853;
    padding:20px 0;margin:0 0 40px 0;text-align:center}

header h1{
    font-size:30px;
    line-height:1.5;
    margin:0 0 0 -40px;
    font-weight:bold;
    font-family:Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    color:#b5e853;
    text-shadow:0 1px 1px rgba(0,0,0,0.1),0 0 5px rgba(181,232,83,0.1),0 0 10px rgba(181,232,83,0.1);
    letter-spacing:-1px;
    -webkit-font-smoothing:antialiased}
    
header h1:before{
    content:"./ ";
    font-size:24px}
    
header h2{
    font-size:18px;
    font-weight:300;
    color:#666}


    
hr{
    height:0;
    border:0;

    color: #4CAF50;}
    
